.headline {
  font-size: 80px;
  font-family: 'Corben', cursive;
}

body{
  background-image: url('img/imageedit_1_6442215352.png');
  background-repeat: no-repeat;
  background-position: right -80vh top -15vh;
  background-size: auto 140vh;
}