.headline {
  font-size: 80px;
  font-family: 'Corben', cursive;
}

body{
  background-color: white;
}

body::after {
  content: "";
  background-image: url('img/imageedit_1_6442215352.png');
  background-repeat: no-repeat;
  background-position: right -80vh top -15vh;
  background-size: auto 140vh;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.bg-1{
  background-color: red;
}

.content{
  display: grid;
  grid-template-columns: 16fr 10fr;
  grid-template-rows: 10fr 16fr;
}

.maincontent{
  height: 100vh;
}

.cell{
  border-style: solid;
  border-color: black;
  grid-row-start: 2;
}

.cell-head{
  grid-column-start: 1;
  grid-column-end: span-2;
  border-style: solid;
  border-color: green;
}

.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
   height:100%;
}

.social{
  float: right;
  width: 40%;
  margin-top: 15px;
}

.fa-youtube{
  color:red;
}

.fa-github{
  color: black;
}

.fa-twitch{
  color: #6441A4;
}

.fa-linkedin{
  color: #0077B5;
}

.header-name{
  width: 30%;
  height: auto;
}

.details{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-left: 18px;
  font-weight: 500;
}

.work-title{
  color: darkslateblue;
  font-size: 30px;
  font-weight: 800;
}